@import url("./fonts.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-scale infinite 20s linear;
  }
}

/* Basic styles */
.h1-style {
  font-family: 'Forum';
  display: flex;
  font-weight: regular;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(62px + 2vmin);
  color: black;
}
.h2-style {
  font-family: 'Forum';
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(38px + 2vmin);
  color: black;
}
.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.interface-text {
  display: flex;
  font-family: 'Nunito Sans';
  font-weight: bold;
  align-items: center;
  font-size: calc(14px + 1vmin);
  color: black;
}

.input-field {
  font-family: 'Nunito Sans';
  font-weight: regular;
  font-size: calc(12px + 1vmin);
  width: 30%;
  padding: 5px;
  border: 2px solid lightgray; 
  border-radius: 10px; /* Set border radius to create round corners */
}

.input-textarea {
  /* Custom styles for the textarea */
  font-family: 'Nunito Sans';
  font-weight: regular;
  font-size: calc(12px + 1vmin);
  height: 20vh;
  padding: 10px;
  width: 40vh;
  border: 2px solid lightgray; 
  resize: none; /* Prevent textarea from being resizable */
  border-radius: 10px; /* Set border radius to create round corners */
}


.button {
  /* Custom styles for the button */
  font-size: 20px;
  font-family: 'Nunito Sans';
  font-weight: bold;
  padding: 10px 10px;
  background-color: #86E4AD;
  color: black;
  cursor: pointer;
  border: 2px solid lightgray; 
  border-radius: 10px; /* Set border radius to create round corners */
  margin-top: "10px";
  margin-bottom: "10px";
  margin-right: "10px";
  margin-left: "10px";
}

.message-button {
  font-size: 18px;
  font-family: 'Nunito Sans';
  font-weight: bold;
  padding: 5px 5px;
  background-color: lightgray;
  color:black;
  cursor: pointer;
  border: 2px solid lightgray; 
  border-radius: 10px; /* Set border radius to create round corners */
  margin-top: "5px";
  margin-bottom: "5x";
  margin-right: "5px";
  margin-left: "5px";
}



/* Custom styles for the TokenInput.jex */
.token-background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.token-background-container::before {
  content: "";
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* Custom styles for the StorySetting.jsx */
.setting-background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.setting-background-container::before {
  content: "";
  background-image: url("./images/wonderland_journey.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-scale {
  from {
    transform: scale(0.5);
  }
  to {
    transform: rotate(1.3);
  }
}

.user-message {
  font-family: 'Indie Flower';
  font-weight: Medium;
  color:#0b3e83;
  font-size: calc(14px + 1vmin);
  padding: 5px;
  margin-bottom: 5px;
}

.assistant-message {
  font-family: "Kalam";
  font-weight: Medium;
  color:#0b3e83;
  font-size: calc(14px + 1vmin);
  padding: 5px;
  margin-bottom: 5px;
}

.system-message {
  background-color: lightgray;
  color: darkred;
  padding: 10px;
  margin-bottom: 10px;
}
