@font-face {
  font-family: "ComingSoon";
  src: url("./fonts/ComingSoon.ttf") format("truetype");
  /* font-weight, font-style, etc. can also be specified */
  font-family: "letscoffee";
  src: url("./fonts/LetsCoffee-Wy2K4.ttf") format("truetype");
  /* font-weight, font-style, etc. can also be specified */
  font-family: "SekteCinta";
  src: url("./fonts/SekteCinta-8MAoZ.ttf") format("truetype");
  font-family: "dadha";
  src: url("./fonts/dadha.ttf") format("truetype");
  font-family: "Tuwir-JRDeB";
  src: url("./fonts/Tuwir-JRDeB.ttf") format("truetype");
  
}
